.statistic-cards-section {
    margin-bottom: 63px;

    @media(max-width: $breakPoint992) {
        margin-bottom: 0px;
    }

    // .statistic-cards-section__wrapper
    &__wrapper {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: -16px;
        // gap: 32px;

        @media(max-width: $breakPoint992) {
            flex-wrap: wrap;
        }
    }
}

.statistic-card {
    margin: 16px;
    width: 316px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 0px 0px 8px rgba(22, 23, 72, 0.07), 0px 25px 35px rgba(22, 23, 72, 0.05);
    border-radius: 8px;

    @media(max-width: $breakPoint480) {
        width: 100%;
    }

    // .statistic-card__title
    &__title {
        margin-top: 53px;
        font-style: normal;
        font-weight: bold;
        font-size: 56px;
        line-height: 62px;
        color: $blueColor;
    }

    // .statistic-card__subtitle
    &__subtitle {
        margin-top: 18px;
        font-style: normal;
        font-weight: 400;
        font-size: 22px;
        line-height: 33px;
        margin-bottom: 12px;
    }

    // .statistic-card__img
    &__img {
        margin-top: auto;
        max-width: 100%;
        width: 100%;
        height: auto;
    }

}
