.section {

    // .section__products

    &__products {
        padding: 106px 0;

        @media (max-width: $breakPoint1400) {
            padding-top: 50px;
        }

        @media (max-width: $breakPoint480) {
            padding: 40px 0;
            padding-top: 50px;
        }

    }
}

.products {
    display: flex;
    gap: 32px;
    justify-content: center;
    margin-top: 97px;
    
    @media (max-width: $breakPoint1400) {
        margin-top: 50px;
    }

    @media (max-width: $breakPoint768) {
        flex-wrap: wrap;
        gap: 0;
    }

    // .products__item
    &__item {
        flex: 0 1 50%;
        display: flex;
        flex-direction: column;
        box-shadow: 0px 0px 8px rgba(22, 23, 72, 0.07), 0px 25px 35px rgba(22, 23, 72, 0.08);
        border-radius: 8px;
        padding: 10px 10px 0 10px;

        @media (max-width: $breakPoint768) {
            flex: 0 0 100%;
            margin-top: 25px;
        }
    }

    // .products__item-content

    &__item-content {
        padding: 62px 62px 0px 62px;
    
        @media (max-width: $breakPoint1400) {
            padding: 40px 40px 0 40px;
        }

        @media (max-width: $breakPoint768) {
            padding: 30px 30px 0 30px;
        }
    }

    // .products__item-logo

    &__item-logo {
        img {
            
        @media (max-width: $breakPoint992) {
            max-width: 150px;
        }

        }
    }

    // .products__item-text

    &__item-text {
        margin-top: 40px;
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 31px;

        @media (max-width: $breakPoint1400) {
            margin-top: 25px;
            font-size: 22px;
        }

        @media (max-width: $breakPoint768) {
            margin-top: 20px;
            font-size: 18px;            
            line-height: 130%;
        }
    }

    // .products__item-btn

    &__item-btn {
        display: inline-flex;
        padding: 12px 24px;
        margin-top: 33px;
        text-decoration: none;  
        gap: 9px;

        
        @media (max-width: $breakPoint768) {
            margin-top: 25px;
            padding: 12px 18px;    
        }

        .item-btn__arrow {
            z-index: 1000;
            padding-top: 3px;
            color: white
        }

        &:hover {
            path {
                stroke: $whiteColor;
                transition: 0.3s all ease;
            }
        }


        .btn__text {
            padding-top: 3px;
            font-size: 14px;
            line-height: 150%;
            letter-spacing: 0.005em;
            font-weight: bold;  
        }
    }

    // .products__item-footer

    &__item-footer {
        margin-top: auto;

        @media (max-width: $breakPoint768) {
            // display: flex;
        }

        img {
            max-width: 100%;
            width: 100%;
            height: auto;
            margin-bottom: -3px;

            @media (max-width: $breakPoint768) {
                display: block;
                max-width: 75%;
                width: 75%; 
                margin-left: auto;
            }
        }
    }

}
