.section {

    // .section__brands

    &__brands {
        padding: 101px 0 128px 0;
        border-bottom: 1px solid rgba(197, 203, 226, 0.5);;
    }
}

.brands {

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 60px;

    @media (max-width: $breakPoint992) {
        flex-wrap: wrap;
        gap: 30px;
        justify-content: center;
        margin-top: 20px;
    }

    @media (max-width: $breakPoint768) {
        gap: 25px;
    }

    
    @media (max-width: $breakPoint480) {
        gap: 20px;
    }
    // .brands__item
    &__item {
        margin-top: 20px;

        @media (max-width: $breakPoint768) {
            margin-top: 10px;
        }

        
        @media (max-width: $breakPoint480) {
            margin-top: 0px;
        }
    }

}
