body {
    font-family: 'Europe-regular';
    font-size: 16px;
}


.container {
    max-width: $containerWidth;
    width: 100%;
    padding: $containerPadding;
    margin: 0 auto;
}

// Красная кнопка
.btn {
    display: inline-block;
    background: $redColor;
    color: $whiteColor;
    padding: 14px 32px;
    border-radius: 6px;
    font-size: 16px;
    line-height: 150%;
    

    @media (max-width: $breakPoint992) {
        padding: 12px 26px;
    }

    &:hover {
        background: #d51a42;
        transition: 0.3s all ease;
    }
}

.btn__outline {
    display: inline-block;
    color: $whiteColor;
    padding: 14px 32px;
    border-radius: 6px;
    font-size: 16px;
    line-height: 150%;
    border: 1px solid $redColor;
    color: $redColor;

    @media (max-width: $breakPoint992) {
        padding: 12px 26px;
    }

    &:hover {
        color: $whiteColor;
        background-color: $redColor;
        transition: 0.3s all ease;
    }
}

.section {
    @media (max-width: $breakPoint992) {
        padding: 50px 0;
    }

    @media (max-width: $breakPoint768) {
        padding: 40px 0;
    }

    // .section__subtitle
    &__subtitle {
        margin-top: 16px;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 27px;
        color: $grayColor;

        &.subtitle-center {
            text-align: center;
        }
    }

    &__title {
        font-style: normal;
        font-weight: 700;
        font-size: 44px;
        line-height: 62px;
        color: $blueColor;

        &.title-center {
            text-align: center;
        }

        @media (max-width: $breakPoint992) {
            font-size: 32px;
            line-height: 50px;
        }
    
        @media (max-width: $breakPoint768) {
            font-size: 26px;
            line-height: 42px;
        }
    
        @media (max-width: $breakPoint480) {
            font-size: 24px;
            line-height: 30px;
        }

        span {
            color: $redColor;
        }

        
    }
}

