// Container & Breakpoints
@use "sass:math";

$containerWidth: 1105px;
$containerPadding: 0px;
$breakPoint1400: 1339.98px;
$breakPoint992: 991.98px;
$breakPoint768: 767.98px;
$breakPoint480: 479.98px;

// Burger Menu
$burgerBreakpoint: $breakPoint992;
$burgerActiveColor: 'white';

// Colors
$blueColor: #1A2578;
$redColor: #BF0830;
$grayColor: #484C63;
$whiteColor: #FFFFFF;