// Container & Breakpoints
@use "sass:math";

$containerWidth: 1100px;
$containerPadding: 40px;
$breakPoint1400: 1339.98px;
$breakPoint992: 991.98px;
$breakPoint768: 767.98px;
$breakPoint480: 479.98px;

// Burger Menu
$burgerBreakpoint: $breakPoint992;
$burgerActiveColor: 'white'