.header {
    display: flex;
    justify-content: center;
}

.navbar {
    margin-top: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    

    .logo {
        img {
            @media (max-width: $breakPoint992) {
                max-width: 150px;
            }
        }
    }
}

.menu {

    ul {
        display: flex;
        justify-content: center;
    }

    .menu__item {
        margin: auto 0;
        color: $grayColor;
        margin-left: 60px;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;

        @media (max-width: $breakPoint992) {
            margin-left: 30px;
            // font-size: 16px;
        }

        @media (max-width: $breakPoint768) {

        }

        .menu__item-link {
            text-decoration: none;
            color: $grayColor;
        }
    
    .redhover:hover {
        color: $redColor;
        transition: 0.2s all ease;
    }
    
    }
}


// Burger menu styles

@media (max-width: $breakPoint768) {

    // Burger menu button

    .hamburger-lines {
        display: block;
        height: 26px;
        width: 32px;
        position: absolute;
        top: 26px;
        right: 20px;
        z-index: 200;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .line {
            display: block;
            height: 4px;
            width: 100%;
            border-radius: 10px;
            background: $redColor;
        }

        .line1 {
            transform-origin: 0% 0%;
            transition: transform 0.4s ease-in-out;
        }

        .line2 {
            transition: transform 0.2s ease-in-out;
        }

        .line3 {
            transform-origin: 0% 100%;
            transition: transform 0.4s ease-in-out;
        }

        .line1.active {
            transform: rotate(45deg);
        }
        
        .line2.active {
            transform: scaleY(0);
        }
        
        .line3.active {
            transform: rotate(-45deg);
        }
    }

    .hamburger-lines.hamburger-lines_active {
        position: fixed;
    }


    .menu {
        position: fixed;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 100;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.899);
        transform: translateY(-100%);
        transition: all 0.3s ease 0s;

        ul {
            display: flex;
            flex-direction: column;
            gap: 50px;
        }

        .menu__item-link {
            color: white;
        }

        .menu__item {
            margin: 0;
            text-align: center;

            a {
                color: white !important
            }
        }
    }

    .menu.menu_active {
        transform: translateY(0);
    }
}