// Global SCSS imports
    @import 'fonts';
    @import 'reset';
    @import 'vars';

    @import 'global';

// Global components
    @import 'header';
    @import 'footer';

// Other components 
    @import 'swiper';

// Main Page sections
    @import './HomePage/_hero';
    @import './HomePage/_brands';
    @import './HomePage/_product-lines';
    @import './HomePage/_awards';
    @import './HomePage/_partners';
    @import './HomePage/_invite';

// Products page sections
    @import './ProductsPage/_products-hero';
    @import './ProductsPage/_products';
    @import './ProductsPage/_invite';

// About page sections
    @import './AboutPage/_about-hero';
    @import './AboutPage/_brands';
    @import './AboutPage/_statistic-cards';

// Contact page sections
    @import './ContactPage/_contact-hero';
    @import './ContactPage/_feedback';
    
    


