// Container & Breakpoints
@use "sass:math";

$containerWidth: 1065px;
$containerPadding: 20px;
$breakPoint1400: 1399.98px;
$breakPoint992: 991.98px;
$breakPoint768: 767.98px;
$breakPoint480: 479.98px;

// Burger Menu
$burgerBreakpoint: $breakPoint768;

// Colors
$blueColor: #1A2578;
$redColor: #BF0830;
$grayColor: #484C63;
$whiteColor: #FFFFFF;

