.invite-section {
    margin-top: 42px;
    padding: 137px 0px;

    @media(max-width: $breakPoint1400) {
        padding: 60px 0px;
    }

    @media(max-width: $breakPoint992) {
        padding: 30px 0px;
    }

    @media(max-width: $breakPoint768) {
        margin-top: 00px;
        padding: 0px;
    }
    // .invite-section__wrapper
    &__wrapper {
        max-width: 878px;
        margin: 0 auto;
    }

    // .invite-section__title
    &__title {
    }

    // .invite-section__subtitle
    &__subtitle {
    }

    // .invite-section__buttons
    &__buttons {
        margin-top: 40px;
        display: flex;
        justify-content: center;
        gap: 20px;
    }
}